
div ,h1,h2,span,body,html,header,footer{
  margin: 0;
  padding: 0;
  border: 0;
}
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: #385378
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 8em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 3em;
  }
 .sidenav a {
   margin: 2em 0;
   display: block;
   position: relative;
   text-transform: uppercase;
   text-decoration: none;
   color: gray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif-;
 }

 @keyframes test2 {
   0% {left: -60;opacity: 10%;}
   100% {left: -10;opacity: 100%;}
  }
  .sidenav a::before{

    
    background: white;
    opacity: 5%;
    position: absolute;
   width: 0.2em;
   content: '';
   height: 100%;
  
   left: -60;
  }
 .sidenav a:hover::before {
   
   animation-name: test2;
   animation-duration: .5s;
   left: -10;
   opacity: 100%;
 }
 @keyframes test3 {
  0% {left: -10;opacity: 100%;}
  100% {left: -60;opacity: 5%;}
 }
 .sidenav a:not(:hover)::before{
   animation-name: test3;
   animation-duration: .5s;
 }

 @keyframes test {
   0% {color: gray;}
   100% {color: white;}
 }
 .sidenav a:hover {
  animation-name: test;
  animation-duration: .5s;
  color: white;
 }
  h1{
    font-weight: bold;
  }
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif-;
  }
  .inner{
    padding: 4em;
  }
  h1{
   color: white;
   line-height: 3;
   font-size: 2.1em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif-;
  }
  button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif-;
    
  }
  .leftbutton {
    width: 70%;
    margin-top: 5em;
    display: flex;
    justify-content: right;
    
  }
 .StartButton{
   border: solid;
   border-color: 4A86D7;
   border-radius: 5px;
   text-decoration: none;
   color: 4A86D7;
   font-weight: 600;
   font-size: 17px;
   display: inline-block;
   width: 10em;
   height: 3.5em;
   background:none;
   position: absolute;
    z-index: 1;
    text-transform: uppercase;
  
 }
 
  
  @keyframes buttonani{
    0% {width: .05em;}
    25%{width: 9.7em}
    50%{width:  9.7em; left: 0;}
    100% {width: 0em; left: 165;}
  }
  @keyframes textButton {
    0%{color:4A86D7 ;border-color: 4A86D7; }
    100%{color:white; border-color: white; }
  }
  
  .StartButton::before{
    
    background:  white; ;
    
    position: absolute;
    width: 0em;;
    content: '';
    height: 100%;
  
    left: 0;
    top: 0;
  }
  .StartButton:hover{
    
    animation-name: textButton;
    animation-duration: 1s;
  
    color: white;
    border-color: white; 
  }
 
  .StartButton:hover::before{
    animation-name: buttonani;
    animation-duration: 1.25s;
    
  }
 


#welcome 
{
  background-image: url(offical_lines.svg);
  background-attachment: fixed;
  background-size: 150%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #1A4885;
  background-position: top -75vh left -45vh;
  min-height: 100vh;
}
@keyframes motiHov{
0%{color:gray}
100%{color: white;}
}

.motiQuote{
  color: gray;
}
.motiQuote:hover {

 cursor: wait;
 animation-name: motiHov;
 animation-duration: 1s;
 color: white;
}